if [ "$ZELLIJ" = "" ]; then zellij; fi # Start shell with Zellij 

{{ template "zshrc/alias" . }}
{{ template "zshrc/preferences" . }}
{{ template "zshrc/plugins" . }}

#Shell Config / Random collection of config passed down from smarter people and the internet
export GPG_TTY=`tty`
# source /usr/local/opt/chruby/share/chruby/chruby.sh
# source /usr/local/opt/chruby/share/chruby/auto.sh

path=(
      /usr/local/{bin,sbin}
      ./node_modules/.bin
      $HOME/bin
      $HOME/go/bin
      $HOME/Applications/Visual Studio Code.app/Contents/Resources/app/bin
      $path
     )

export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm

# eval "$(rbenv init -)"
# eval "$(pyenv init -)"
# eval "$(direnv hook zsh)"
eval "$(starship init zsh)"
