if [ "$ZELLIJ" = "" ]; then zellij; fi # Start shell with Zellij 

{{ template "zshrc/alias.tmpl" . }}
{{ template "zshrc/preferences.tmpl" . }}
{{ template "zshrc/plugins.tmpl" . }}
{{ if (eq .environment "work") }}
      {{ template "zshrc/work.tmpl" . }}
{{ end }}

path=(
      /usr/local/{bin,sbin}
      ./node_modules/.bin
      $HOME/bin
      $HOME/go/bin
      $HOME/Applications/Visual Studio Code.app/Contents/Resources/app/bin
      $path
     )

export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm

export GPG_TTY=`tty`

eval "$(direnv hook zsh)"
eval "$(starship init zsh)"
