* {
  background-color: transparent;
  color: white;

  font-family: Hack Nerd Font;
  font-size: 12px;

  min-height: 0;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  min-width: 8px;
  border-radius: 4px;
}

#workspaces button * {
  background-color: transparent;
}

#tray,
#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio,
#memory,
#temperature,
#clock,
#custom-power-menu {
  min-width: 12px;
  margin: 0 7.5px;
}

